<footer class="bg-white fixed-bottom">
    <nav>
        <ul class="nav d-flex justify-content-center">
            <!-- Home -->
            <li class="nav-item p-2">
                <a class="nav-link" href="/home">
                    <img src="{{#if (eq currentPage 'home')}}/icons/home-active.svg{{else}}/icons/home.svg{{/if}}" alt="home">
                </a>
            </li>

            <!-- Notifications -->
            <li class="nav-item p-2">
                <a class="nav-link" href="/noti">
                    <img src="{{#if (eq currentPage 'noti')}}/icons/noti-active.svg{{else}}/icons/noti.svg{{/if}}" alt="noti">
                </a>
            </li>

            <!-- New Post -->
            <li class="nav-item p-2">
                <a class="nav-link" href="/new-post">
                    <img src="{{#if (eq currentPage 'new-post')}}/icons/new-active.svg{{else}}/icons/new.svg{{/if}}" alt="new">
                </a>
            </li>

            <!-- Profile -->
            <li class="nav-item p-2">
                <a class="nav-link" href="/profile">
                    <img src="{{#if (eq currentPage 'profile')}}/icons/profile-active.svg{{else}}/icons/profile.svg{{/if}}" alt="profile">
                </a>
            </li>

            <!-- Logout -->
            <li class="nav-item p-2">
                <a class="nav-link" href="/logout">
                    <img src="{{#if (eq currentPage 'logout')}}/icons/logout-active.svg{{else}}/icons/logout.svg{{/if}}" alt="logout">
                </a>
            </li>
        </ul>
    </nav>
</footer>