<!-- Header -->
<header class="bg-white fixed-top">
    <div class="new-post-container pt-4 d-flex flex-row align-items-center">  
        <h1 class="m-0 ms-3">Notification</h1>
    </div>
    <nav>
        <ul class="nav nav-underline d-flex" id="wave-nav">
            <li class="nav-item flex-fill text-center">
                <a class="nav-link active" href="#">All
                </a>
            </li>
            {{!-- <li class="nav-item flex-fill text-center">
                <a class="nav-link" href="#" onclick="setActiveMode(event)">Follows
                </a>
            </li>
            <li class="nav-item flex-fill text-center">
                <a class="nav-link" href="#" onclick="setActiveMode(event)">Replies
                </a>
            </li> --}}
        </ul>
    </nav>
        
</header>
<!-- Main -->
<main>
    <div class="container-list" style="margin-bottom: 65px;">
        {{#each notifications}}
            <div class="noti ps-3 py-2 d-flex flex-row align-items-center {{#if this.IsRead}}read{{else}}unread{{/if}}" id="{{this.NotificationID}}">
                <div class="container-avatar mt-1 me-2 d-flex align-self-start align-items-center position-relative">
                    <img src="/{{this.actionUser.ProfilePicture}}" alt="avatar" class="img-fluid avatar"/>
                    <img src="/icons/{{this.Type}}-mark.svg" alt="noti" class="noti-mark position-absolute bottom-0 end-0" id="follow-mark"/>
                </div>
                <div class="container-fluid p-0 pb-2 d-flex justify-content-between" style="border-bottom: 0.25px solid #DFDFDF;">
                    <div class="noti-info">
                        <div class="username">
                            <strong class="mb-2">{{this.actionUser.Username}}</strong>
                            <p class="m-0" style="color: #3c3c43b1;">
                                {{#if (eq this.Type "follow")}}
                                    Followed you
                                {{else if (eq this.Type "like")}}
                                    Surged your wave
                                {{else if (eq this.Type "comment")}}
                                    Replied you
                                {{else}}
                                    {{this.Type}} you
                                {{/if}}
                            </p>
                        </div>
                        {{!-- <p class="text-muted small">{{this.createdAt}}</p> --}}
                    </div>
                    <div class="container-button me-3 d-flex align-items-center">
                        {{!-- {{#if (eq this.Type "follow")}}
                            <button class="follow followButton">Follow back</button>
                        {{/if}} --}}
                        <button class = "Delete_noti waveBtn px-3 " id="{{this.NotificationID}}" >delete</button>
                    </div>  
                </div>
            </div>
        {{/each}}

    </div>
</main>
<!-- Footer -->
{{> footer}}

<!-- Bootstrap JavaScript Libraries -->

<!--JS event-->
<script src = "/javascript/notificationScript.js"> </script>